# Define which QGIS version to run
# QSITG_TEST_IMAGE=qgis/qgis:3.44
QSITG_TEST_IMAGE=qgis/qgis:4.2

# Uncomment the following line to make gui test work under docker for windows
# X11_SOCKET=/run/desktop/mnt/host/wslg/.X11-unix
